@import url('https://fonts.googleapis.com/css?family=Amarante|Montserrat:300,400,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  letter-spacing: normal;
  /* line-height: 2.5em; */
}

.btn-enrol-a {
  color: #367df0;
  padding: 10px 80px;
  border-radius: 3px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
  background: #fff;
  text-transform: uppercase;
  margin: 0.5em;
  white-space: nowrap;
}
.btn-enrol {
  background: #367df0;
  padding: 10px 80px;
  border-radius: 3px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
  color: #fff;
  text-transform: uppercase;
  margin: 0.5em;
  white-space: nowrap;
}
.btn-enrol:hover {
  color: #fff;
  background: #1065ee;
}
.btn-enrol-a:hover {
  background: #f5f5f5;
  color: #367df0;
}

header {
  background: #eee;
  color: #333;
  padding: 1em 0;
}
header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

header .branding h1 {
  font-size: 1.8em;
  font-weight: bolder;
  font-family: 'Amarante', cursive;
}

header .branding span {
  margin: 0 0.2em;
  background: #fff;
  padding: 10px 19px;
  color: #333;
  border-radius: 50%;
  color: #0f4fb6;
  border: dashed 1.5px #0f4fb6;

}

header .container .toggle{
  display: none;
}

header .container nav .links {
  margin: 0 1em;
  color: #333;
}





main .landing {
  background-image: url(../img/banner.jpg);
  background-position: center;
  background-size: cover;
  padding: 20px;
  text-align: center;
  position: relative;
  height: 600px;
}

.landing .overlay {
  background: hsla(187, 95%, 17%, 0.63);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.landing .text h1 {
  font-weight: 600;
  font-size: 2em;
  text-align: center;
}

.landing .text {
  color: #fff;
  text-transform: capitalize;
  font-size: 1.5em;
}


.landing .content {
  z-index: 1;
  position: relative;
  width: 40%;
  margin: 10% auto;
}

.landing .button {
  white-space: nowrap;
  padding: none;
  margin-top: 2em;
}
.landing .button :first-child {
  background: #0490a8;
  padding: 20px 25px;
  color: #eee;
  font-size: 1em;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.landing .button :last-child {
  background: #d3330c;
  padding: 20px 25px;
  color: #eee;
  font-size: 1em;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-left: -10px;
}

#welcome {
  padding: 1em 0;
  text-align: center;
}

#welcome .content p {
  text-align: center;
  font-size: 1.2em;
}

#welcome .content h3 {
  font-weight: 600;
  margin: 1em 0;
}


#learn {
  margin-top: 2em;
  background: rgb(250, 250, 250);
  padding: 1em 0;
  position: relative;
}

#learn h3 {
  margin-bottom: 2em;
}


#learn .img-container {
  background-image: url(../img/codegirl.jpg);
  background-size: cover;
  background-position: center;
  width: 500px;
  height: 750px;
  margin: 0 auto;
}

.topic-card .fa-html5 {
  font-size: 5em;
  color: #0f4fb6;
}
.topic-card .fa-css3-alt {
  font-size: 5em;
  color: #d3330c;
}
.topic-card .fa-github {
  font-size: 5em;
  color: #0490a8;
}

.topic-card h6 {
  font-weight: bold;
  margin: 0.5em 0;
}

#course {
  padding-top: 3em;
  padding-bottom: 3em;
  background: url(../img/blbck.png);
  background-position: center;
  background-size: cover;
  /* height: 25vh; */
}

@media all and (max-width: 600px) {
  header {
    padding: 1em 0;
    background: #eee
  }
 
  #learn .img-container {
    background-image: url(../img/codegirl.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
    margin-bottom: 1em;
  }

  img {
    width: 100%;
  }

  header nav{
    position: fixed;
    top: 0;
    width: 30%;
    height: 100%;
    background: #333;
    background: rgba(0, 0, 0, 0.9);
    padding: 2em 10px;
    transform: translateX(-120%);
    transition: all 0.6s ease-in-out;
    z-index: 1;
  }

  header nav.open {
    transform: translateX(-15%);
    z-index: 3;
  }

  header .container .toggle {
    display: block;
    /* box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3); */
    margin: 0 1em;
    border-radius: 5px;
    padding: 5px 0; 
  }

  header .toggle .line {
    height: 3px;
    width: 35px;
    background: #333;
    margin: 0.4em 0;
    transition: all 0.6s ease-in-out;
  }

  header .toggle .line3.hide {
    visibility: hidden;
    transition: all 0s ease-in-out;
  }

  header .toggle .line1.rotate {
    transform: rotate(40deg);
    margin-right: -1.7em;
    transition: all 1s ease-in-out;
  }
  header .toggle .line2.rotate {
    transform: rotateZ(-70deg);
    margin-left: 1.2em;
    transition: all 0.3s ease-in-out;
  }


  header .branding span {
    padding: 4px 10px;
    border-radius: 50%;
    background: #367df0;
    color: #fff;
    border: none;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3)
  }

  header .branding h1 {
    font-size: 1.2em;
    color: #333;
  }

  header .container nav .links {
    text-decoration: none;
    color: #fff;
    margin: 0 0.4em;
    text-transform: uppercase;
    font-size: 0.8em;
  }
  header nav .links:hover {
    color: #0f4fb6;
  }

  main .landing {
    background-image: url(../img/home-banner.jpg);
    background-position: center;
    background-size: cover;
    padding: 20px;
    text-align: center;
    position: relative;
    height: auto;
  }

  .landing .overlay {
    background: hsla(187, 95%, 17%, 0.63);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .landing .text {
    color: #fff;
    text-transform: capitalize;
    font-size: 1em;
  }
  .landing .content {
    z-index: 1;
    position: relative;
    width: 60%;
    margin: 10% auto;
  }

  .landing .text h1 {
    font-size: 1.5em;
  }

  .landing .button {
    white-space: nowrap;
    /* border: solid 1px #eee; */
    padding: none;
  }
  .landing .button :first-child {
    background: #0490a8;
    padding: 8px 15px;
    color: #eee;
    font-size: 0.8em;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }

  .landing .button :last-child {
    background: #d3330c;
    padding: 8px 10px;
    color: #eee;
    font-size: 0.8em;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-left: -10px;
  }

  #welcome {
    padding: 1em 0;
    text-align: center;
  }

  #welcome .content h4 {
    text-align: center;
    font-size: 1.2em;
  }



  .btn-enrol-a {
    color: #367df0;
    padding: 10px 60px;
    border-radius: 3px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
    background: #fff;
    text-transform: uppercase;
    margin: 0.5em;
    white-space: nowrap;
  }
  .btn-enrol {
    background: #367df0;
    padding: 10px 40px;
    border-radius: 3px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
    color: #fff;
    text-transform: uppercase;
    margin: 0.5em;
    white-space: nowrap;
  }

}